header {
    width: 100%;
}

.vi {
    width: 100px;
    height: 100px;
    margin-top: 10px;
}

h2 {
    color: blue;
    text-align: left;
    width: 100%;
    font-size: 50px;
    margin-top: 0px;
}

img {
    height: 300px;
    width: 300px;
}

a {
    color: blue;
    font-size: 20px;
}

.vishnu {
    border: 2px solid brown;
    width: 300px;
    height: 700px;
    padding: 10px;
    margin-left: 20px;
    float: left;
}

p {
    color: deeppink;
    font-size: 20px;
}

span {
    color: brown;
    font-size: 25px;
}

.footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #a7ebf7;
    text-align: center;
  }
